In [4]:
import statsmodels.tools.eval_measures as sm
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import glob
import os

In [12]:
cd economic factors

/Users/user/Desktop/seaborn-seeds-student-code/09_final_project/data/Economic Factors

In [13]:
df = pd.read_csv('./income_inequality_2004-2019.csv')
df

    Year  State  Gini Coefficient (%)  Quintile Share Ratio (%)
0   2004  State                  31.7                       4.9
1   2005  State                  32.3                       5.0
2   2006  State                  32.4                       4.9
3   2007  State                  31.7                       4.8
4   2008  State                  30.6                       4.5
5   2009  State                  29.3                       4.3
6   2010  State                  31.4                       4.8
7   2011  State                  31.1                       4.9
8   2012  State                  31.7                       5.1
9   2013  State                  31.8                       5.0
10  2014  State                  32.1                       5.1
11  2015  State                  30.8                       4.7
12  2016  State                  30.7                       4.7
13  2017  State                  31.5                       4.8
14  2018  State                  29.7                       4.4
15  2019  State                  28.8                       4.1

In [14]:
df.pop('State')

0     State
1     State
2     State
3     State
4     State
5     State
6     State
7     State
8     State
9     State
10    State
11    State
12    State
13    State
14    State
15    State
Name: State, dtype: object

In [15]:
df.columns = df.columns.str.lower()

In [16]:
df.rename(columns={'gini coefficient (%)' : 'gini coefficient', 'quintile share ratio (%)' : 'quintile share ratio'}, inplace=True)

In [17]:
df2 = pd.read_csv('./income_inequality_2020-2022.csv')
df2

   Year  State  Gini Coefficient (Ratio)  Quintile Share Ratio (Ratio)
0  2020  State                      28.5                           4.1
1  2021  State                      27.0                           3.8
2  2022  State                      28.0                           4.0

In [18]:
df2.pop('State')

0    State
1    State
2    State
Name: State, dtype: object

In [19]:
df2.columns = df2.columns.str.lower()

In [20]:
df2.rename(columns={'gini coefficient (ratio)' : 'gini coefficient', 'quintile share ratio (ratio)' : 'quintile share ratio'}, inplace=True)

In [23]:
income_inequality_full = df.merge(df2, how='outer', on=['year', 'gini coefficient', 'quintile share ratio'])

In [24]:
income_inequality_full

    year  gini coefficient  quintile share ratio
0   2004              31.7                   4.9
1   2005              32.3                   5.0
2   2006              32.4                   4.9
3   2007              31.7                   4.8
4   2008              30.6                   4.5
5   2009              29.3                   4.3
6   2010              31.4                   4.8
7   2011              31.1                   4.9
8   2012              31.7                   5.1
9   2013              31.8                   5.0
10  2014              32.1                   5.1
11  2015              30.8                   4.7
12  2016              30.7                   4.7
13  2017              31.5                   4.8
14  2018              29.7                   4.4
15  2019              28.8                   4.1
16  2020              28.5                   4.1
17  2021              27.0                   3.8
18  2022              28.0                   4.0

In [25]:
income_inequality_full.to_csv('./income_inequality_full.csv')